@tailwind base;
@tailwind components;
@tailwind utilities;

/* Header */
#main-header {
  background: url('../images/desktop/image-header.jpg') no-repeat center center/cover;
}

/* Section One */
/* .section-one-img {
  background: url('../images/desktop/image-header.jpg') no-repeat center center/cover;
} */

/* Section Three */
.bg-design {
  background-image: url('../images/desktop/image-graphic-design.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.bg-photography {
  background-image: url('../images/desktop/image-photography.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* Section Five */
.section-five-item-one {
  background-image: url('../images/desktop/image-gallery-milkbottles.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
}
.section-five-item-two {
  background-image: url('../images/desktop/image-gallery-orange.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.section-five-item-three {
  background-image: url('../images/desktop/image-gallery-cone.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.section-five-item-four {
  background-image: url('../images/desktop/image-gallery-sugarcubes.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
